@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap');


// Colors
$color: (
    'success': #43F058,
    'info': #46B0FA,
    'warning': #EBC634,
    'error': #CF6042,
    'border': #777780,
    'grey1': #424146,
    'grey2': #777780,
    'grey3': #D7D6E6,
    'default': #262626,
);

$bg-color: (
    'success': map_get($color, 'success'),
    'info': map_get($color, 'info'),
    'warning': map_get($color, 'warning'),
    'error': map_get($color, 'error'),
    'grey1': map_get($color, 'grey1'),
    'grey2': map_get($color, 'grey2'),
    'grey3': map_get($color, 'grey3'),
    'default': map_get($color, 'default'),
);

$text-color: (
    'success': map_get($color, 'success'),
    'info': map_get($color, 'info'),
    'warning': map_get($color, 'warning'),
    'error': map_get($color, 'error'),
    'grey1': map_get($color, 'grey1'),
    'grey2': map_get($color, 'grey2'),
    'grey3': map_get($color, 'grey3'),
    'title': #262626,
    'default': #363636,
    'button': #fafafa
);

// Font
$font-size-desktop: (
    'default': 0.8rem,
    'button': 1rem,
    'h1': 3rem,
    'h2': 2rem,
    'h3': 1.3rem,
    'h4': 1.1rem,
    'nav': 0.8rem,
    'header': 0.9rem,
    'footer': 0.6rem,
);

$font-size-mobile: (
    'default': 0.8rem,
    'button': 1rem,
    'h1': 2rem,
    'h2': 1.6rem,
    'h3': 1.3rem,
    'h4': 1rem,
    'nav': 0.8rem,
    'header': 0.9rem,
    'footer': 0.6rem,
);

$font-weight: (
    'light': 300,
    'regular': 400,
    'medium': 500,
    'semibold': 600,
    'bold': 700,
);

// Transition
$transition: all .2s ease;

// Border radius
$border-radius: (
    'button': 0.3rem
);

// Init
html {
    font-size: 100%;
}

// Content
*,
.p,
p {
    font-family: 'Lato', sans-serif;
    font-weight: map_get($font-weight, 'regular');
    color: map_get($text-color, 'default');
    font-size: map_get($font-size-desktop, 'default');
    @media screen and (max-width: 410px) {
        font-size: map_get($font-size-mobile, 'default');
    }
}

.h1,
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: map_get($font-weight, 'bold');
    color: map_get($text-color, 'title');
    font-size: map_get($font-size-desktop, 'h1');
    @media screen and (max-width: 410px) {
        font-size: map_get($font-size-mobile, 'h1');
    }
}

.h2,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: map_get($font-weight, 'bold');
    color: map_get($text-color, 'title');
    font-size: map_get($font-size-desktop, 'h2');
    @media screen and (max-width: 410px) {
        font-size: map_get($font-size-mobile, 'h2');
    }
}

.h3,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: map_get($font-weight, 'semibold');
    color: map_get($text-color, 'title');
    font-size: map_get($font-size-desktop, 'h3');
    @media screen and (max-width: 410px) {
        font-size: map_get($font-size-mobile, 'h3');
    }
}

.h4,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: map_get($font-weight, 'medium');
    color: map_get($text-color, 'title');
    font-size: map_get($font-size-desktop, 'h4');
    @media screen and (max-width: 410px) {
        font-size: map_get($font-size-mobile, 'h4');
    }
}